body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #2b4c8c;
  border-left: 1px solid #021e73;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #27CDF2;
  color: #151f3b;
  border-radius: 0;
  border-bottom: 10px solid #021e73;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  /*white-space: pre-wrap;*/
  height: 80px;
  border-top: 1px solid white;;
}

#hour {
  background-color: #8b8a8a;
  color: #000000;
}

#currentDay {
  color: #f2f0d5;
  font-size: 34px;
}

.past {
  background-color: #afaeae;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

#saveBtn {
  border-left: 1px solid rgb(170, 170, 170);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #F54A21;
  color: white;
}

#saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  background-image:url("/open-iconic/svg/task.svg alt=save icon");
}
